<app-upload [(pdfSrc)]=pdfSrc></app-upload>
<div class="row">

  <div class="col-3" *ngIf="pdfSrc">
    <h3>Red Flags</h3>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Keyword" aria-label="Search keyword"
        aria-describedby="searchButton" #keyword>
      <button class="btn btn-outline-secondary" type="button" id="searchButton" (click)="search(keyword.value)"
        (keyup.enter)="search(keyword.value)">Search</button>
    </div>
    <div class="btn-group-vertical">
      <button *ngFor="let redFlag of redFlags" type="button" class="btn btn-outline-danger" [value]=redFlag
        (click)="onFlagClick($event)">{{redFlag}}</button>
    </div>
  </div>

  <div class="col-9">
    <pdf-viewer [src]="pdfSrc" [render-text]="true" [original-size]="false" [show-borders]="true"
      style="width:100%; height: 100vh"></pdf-viewer>
  </div>
</div>